

#logout {
  border: 1px solid hsl(205deg 41% 63%);
  background-color: hsl(205deg 46% 92%);
  color: hsl(205deg 47% 42%);
  padding: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 hsl(0deg 0% 100% / 70%);
}

#logout:hover {
  background-color: hsl(205deg 56% 76%);
}


#userbutton {
background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: rgb(0,116,204);
  padding: 0;
}

#userbutton:hover {
  cursor: pointer;
}
